/**
 * partials/footer
 * ---
 */


.footer {
   	width: 100%;
   	border-bottom: 3px solid black;
  	display: block;
   	.box {
   		min-width: 50%;
   		display: inline-block;
   	}
   	#box1 {
   		float: left;
   	}
   	#box2 {
   		min-width: 100%;
   		text-align: center;
   		border-top: 3px solid black;
   		padding-bottom: 2em;
   		h2 {
   			text-transform: uppercase;
   		}
   	}
   	#box3 {
   		float: right;
   		img {
   			max-width: 140px;
   			padding-top: 10px;
   			display: block;
   			margin: 0 auto;
   		}
   	}
}

.copyright {
	clear: both;
	text-align: center;
	border-top: 3px solid black;
	padding: 10px;
}


#box1 {
	#btn-donate {
		background-color: $purplered;
	}
	#btn-news {
		background-color: $darkpurple;
	}
}


