/**
 * partials/frontpage
 * ---
 * Front page stuff
 */

.home {
	main {
		padding-top: 25px;
	}
}

.frontslider {
	margin-bottom: 10px !important;
	border: 0 !important;
}

.flexslider {
	background: none;
	@media screen and (max-width: 480px){
		margin-bottom: 0px;
	}
}
.show-links {
	list-style-type: none;
}
.show-links li {
	display: inline-block;
	width: 46%;
	margin: 1.45%;
	outline: 3px solid $almostblack;
	position: relative;
	.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		transition: 1s;
		&:hover {
			background-color: $redfade;
		}
	}
	@media screen and (min-width: 768px){
		width: calc(80%/3);
		margin: 3.2%;
	}
}

.flex-control-nav {
	background: none;
}

.home .flex-control-nav {
	display: none;
}

