/**
 * partials/frontpage
 * ---
 * Front page stuff
 */

.home {
	main {
		padding-top: 25px;
	}
}

.frontslider {
	margin-bottom: 10px !important;
	border: 0 !important;
}

.flexslider {
	background: none;
}

.flex-control-thumbs li {
	width: 46%;
	margin: 2%;
	border: 3px solid $almostblack;
	@media screen and (min-width: 768px){
		width: calc(80%/5);
	}
}

.flex-control-nav {
	background: none;
}

